/* .myHeader {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.myHeaderColumn {
  padding: 10px;
  display: flex;
  flex-direction: column;
} */

.shortBioContainer {
  text-align: center;
}

#myPortrait {
  border: 2px solid #021a40;
  height: 320px;
  width: auto;
}

.iconRow {
  align-items: center;
  padding: 8px;
}
.myHover {
  transition: transform .2s;
}
.myHover:hover {
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); 
}

#myBio {
  font-size: large;
}

#myFooterSpacer {
  display: block;
  height: 150px;
}
#myFooterText {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: grey;
}

@media only screen and (max-device-width: 800px) {
  /*.myHeader {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .myHeaderColumn {
    padding: 5px
  }*/

  #myPortrait {
    height: 220px;
  }

  #myBio {
    font-size: small;
  }
}
