/* 
.column{
  float: left;
  width:50%;
}

.row {
  content: "";
  display: table;
  clear: both;
}
*/


.myHeader {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
}
.myHeaderColumn {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#myPortrait {
  border: 2px solid #021a40;
  height: 350px;
  width: auto;
}

#infoAnchor {
  font-size: 32pt;
}

.iconRow {
  align-items: center;
  padding: 8px;
}
.myHover {
  transition: transform .2s;
}
.myHover:hover {
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); 
}


@media only screen and (max-device-width: 800px) {
  .myHeader {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .myHeaderColumn {
    padding: 5px
  }

  #myPortrait {
    height: 220px;
    /* margin: 20px; */
  }
}
