.Project {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

#projectsAnchor {
  margin-bottom: 18px;
}

#myWarning {
  color: orangered;
}

.myProjectItem p {
  margin-top: -6px;
}


@media only screen and (max-device-width: 700px) {
  .Project {
    width: 90%;
  }
}
