.ResumeTitle {
  padding-bottom: 20px;
}
.ResumeEntries {
  width: 95%;
  margin: 0 auto;
}
.ResumeEntry {
  display: flex;
  padding: 8px;
  /* height: 92px; */
}
.ResumeEntry img {
  /* border: 2px solid white; */
  /* border-radius: 8px; */
  height: 60px;
  width: 60px;
}
.ResumeEntryBody {
  padding-left: 24px;
}
.ResumeEntryBody ul {
  padding-left: 36px; /* There's a built-in left padding of 40px by default */
}
.ResumeEntryBodyHeaderDiv {
  display: flex;
  margin-bottom: -2px;
}
.ResumeEntryBodyHeaderDiv h4,
.ResumeEntryBodyHeaderDiv h6 {
  align-self: center;
}
.ResumeEntryBodyHeaderTitle {
  /* padding: 4px; */
  padding-right: 20px;
}


@media only screen and (max-device-width: 800px) {
  .ResumeEntries {
    width: 96%;
  }
  .ResumeEntryBody li {
  margin-left: -24px; 
  }
}
