.ResumeTitle {
  padding-bottom: 20px;
}
.ResumeEntries {
  width: 95%;
  margin: 0 auto;
}
.ResumeEntry {
  display: flex;
  padding: 8px;
  /* height: 92px; */
}
.ResumeEntry img {
  border: 2px solid black;
  border-radius: 8px;
  height: 60px;
  width: 60px;
}
.ResumeEntryBody {
  padding-left: 24px;
}
.ResumeEntryBodyHeader {
  display: flex;
  margin-bottom: -2px;
}
.ResumeEntryBodyHeader h4,
.ResumeEntryBodyHeader h5 {
  align-self: center;
}
.ResumeEntryBodyHeaderTitle {
  /* padding: 4px; */
  padding-right: 16px;
}


@media only screen and (max-device-width: 800px) {
  .ResumeEntries {
    width: 96%;
  }
  .ResumeEntryBody li {
  margin-left: -24px; 
  }
}
