#myRowDetails {
  text-align: center;
}

#myReactMarkdown {
  text-align: start;
}

#myReactMarkdown h1,
#myReactMarkdown h2,
#myReactMarkdown h3,
#myReactMarkdown h4,
#myReactMarkdown h5,
#myReactMarkdown h6 {
  /* This is basically copy-pasted from .titleFont because there is no css inheritance? */
  font-family: 'MyWorkSans';
  margin-top: 24px;
  margin-bottom: 4px;
}
