.MyCarouselImage {
  height: 350px;
  width: auto;
}

.MyCarouselNextIcon {
  width: 25%;
  height: auto;
}

.MyCarouselPrevIcon {
  width: 25%;
  height: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.MyCarouselCaption {
  left: auto;
  right: auto;
  position: relative;
}

.MyCarouselCaption p {
  padding-top: 8px;
  color: black;
}

.carousel-indicators li {
  background-color: grey;
}


@media only screen and (max-device-width: 800px) {
  .MyCarousel {
    height: 320px;
  }
  .MyCarouselImage {
    height: 200px;
  }
  .MyCarouselNextIcon {
    width: 50%;
  }
  .MyCarouselPrevIcon {
    width: 50%;
  }
}
