/* TODO remove unnecessary files in the fonts folder (they might get removed on build) */
@font-face {
  font-family: 'MyWorkSans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'MyOpenSans';
  src: url('./fonts/OpenSans-Regular.ttf');
}


.titleFont {
  font-family: 'MyWorkSans';
  font-weight: 450;

  /* Possible tweaks to fix font weight? */
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */
  /* text-rendering: optimizeLegibility !important; */
  /* -webkit-font-smoothing: antialiased !important; */
}
.bodyFont {
  font-family: 'MyOpenSans';
}

p, ul {
  font-size: large;
}

.myContent {
  background-color: aliceblue;
  text-align: center;
  width: 68%;
  margin: 0 auto;
  padding: 28px;
  padding-top: 0px;
  /* padding-bottom: 0px; */

  -moz-box-shadow:    1px 2px 8px 1px #ccc;
  -webkit-box-shadow: 1px 2px 8px 1px #ccc;
  box-shadow:         1px 2px 8px 1px #ccc;
}


@media only screen and (max-device-width: 800px) {
  p, ul {
    font-size: medium;
  }
  /* TODO make h elements smaller */
  /* .titleFont {
    font-weight: 450;
    font-size: x-large;
  } */

  .myContent {
    width: 94%;
    padding: 12px;
    padding-top: 0px;

    -moz-box-shadow:    1px 2px 4px 1px #ccc;
    -webkit-box-shadow: 1px 2px 4px 1px #ccc;
    box-shadow:         1px 2px 4px 1px #ccc;
  }
}
