/* TODO remove unnecessary files in the fonts folder */
@font-face {
  font-family: 'MyOpenSans';
  src: url('./fonts/OpenSans-Regular.ttf');
  /*  format('truetype') */
}
@font-face {
  font-family: 'MyWorkSans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf');
  /*  format('truetype') */
}

.titleFont {
  font-family: 'MyWorkSans';
}
.bodyFont {
  font-family: 'MyOpenSans';
}

.myHeader {
  width: 100%;
  text-align: center;
}
.myHeader nav {
  margin: 0 auto;
  padding: 30px;
  display: table;
  border-spacing: 15px;
}
.myHeader h3 {
  display: table-cell;
}

.myContent {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


@media only screen and (max-device-width: 700px) {
  .myContent {
    width: 100%;
  }
}
